<div class="container">
  <%= render "shared/banner_main" %>
</div>

<section id="byCard" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-12" id="frm-byCard">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" id="listTabCard">
                    
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#menu1">Đổi Thẻ Chậm</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="container tab-pane active">
                        <br>
                        <!-- <h3 class="title"><span>Đổi Thẻ</span></h3> -->
                        <%= form_for(current_order, html: {id: "card-recharing", class: "frm-fast"}, :remote => true, ) do |f| %>
                             <%= f.hidden_field :loai_thanh_toan, value: 'doi_the' %>
                            <div class="form-group">
                                <label for="menhgia">Chọn nhà mạng </label>
                                <div class="cc-selector-2">
                                    <div class="row">
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <input id="viettel" type="radio" name="order[preferred_nha_mang]" value="Viettel" class="d-none" onchange="return Custom.hideSelectPayment('nhamang');">
                                            <label class="drinkcard-cc viettel" for="viettel"></label>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <input id="mobifone" type="radio" name="order[preferred_nha_mang]" value="Mobifone" class="d-none" onchange="return Custom.hideSelectPayment('nhamang');">
                                            <label class="drinkcard-cc mobifone" for="mobifone"></label>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <input id="vinaphone" type="radio" name="order[preferred_nha_mang]" value="Vinaphone" class="d-none" onchange="return Custom.hideSelectPayment('nhamang');">
                                            <label class="drinkcard-cc vinaphone" for="vinaphone"></label>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <input id="vnmb" type="radio" name="order[preferred_nha_mang]" value="Vietnammobile" class="d-none" onchange="return Custom.hideSelectPayment('nhamang');">
                                            <label class="drinkcard-cc vnmb" for="vnmb"></label>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <input id="zing" type="radio" name="order[preferred_nha_mang]" value="ZING" class="d-none" onchange="return Custom.hideSelectPayment('nhamang');">
                                            <label class="drinkcard-cc zing" for="zing"></label>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <input id="gate" type="radio" name="order[preferred_nha_mang]" value="Gate" class="d-none" onchange="return Custom.hideSelectPayment('nhamang');">
                                            <label class="drinkcard-cc gate" for="gate"></label>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6">
                                            <input id="vcoin" type="radio" name="order[preferred_nha_mang]" value="Vcoin" class="d-none" onchange="return Custom.hideSelectPayment('nhamang');">
                                            <label class="drinkcard-cc vcoin" for="vcoin"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="priceList">
                                <label for="menhgia">Chọn mệnh giá </label>
                                
                                
                                <select class="form-control valid form-control-sm" name="order[so_tien]" id="so_tien">
                                    <option value="">Chọn mệnh giá</option>
                                    <option value="10000">10,000đ  (40%)</option>
                                    <option value="20000">20,000đ  (40%)</option>
                                    <option value="30000">30,000đ  (40%)</option>               	
                                    <option value="50000">50,000đ (40%)</option>
                                    <option value="100000">100,000đ</option>
                                    <option value="200000">200,000đ</option>
                                    <option value="300000">300,000đ</option>
                                    <option value="500000">500,000đ</option>
                                    <option selected="selected" value="1000000">1,000,000đ</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="code">Mã thẻ</label>
                                <%= f.text_field :preferred_ma_the, class: "form-control form-control-sm", placeholder: "Nhập mã thẻ" %>
                            </div>
                            <div class="form-group">
                                <label for="seri">Số Seri</label>
                                <%= f.text_field :preferred_serial, class: "form-control form-control-sm", placeholder: "Nhập so Seri" %>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-warning btn-submit pull-right" id="addcard">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner" style="display: none;"></span>
                                    <i class="fa fa-refresh"></i> NẠP THẺ NGAY
                                </button>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-12" id="frm-rating">
                <div class="alert alert-danger">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    Hệ thống sẽ trích thêm hoa hồng khi bạn giới thiệu ngươi dùng mới.
                    Khi người dùng đó giao dịch thành công, bạn sẽ được nhận 1% trên tổng tiền giao dịch đấy (<%= link_to "chi tiết", "/profile" %>).
                </div>

                <h3 class="title"><span>Phí đổi thẻ</span></h3>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Nhà mạng</th>
                            <th scope="col">Chiết khấu</th>
                            <th scope="col">Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% NhaMang.all.each do |nhamang|%>
                            <tr>
                                <th scope="row"><%= nhamang.ten %> </th>
                                <td>
                                    <%= (100 - nhamang.menh_gias.last.phan_tram_chiec_khau * 100).to_i%>%
                                </td>
                                <td>
                                    <span class="badge badge-success">Đang Hoạt Động</span>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<div class="clearfix">
</div>