<div class="container">
  <%= render "shared/banner_main" %>

  <div class="row  mt-2">
    <div class="col-md-6">
      <%= render "forms/doi_the_cao" %>
    </div>
    <div class="col-md-6">
      <%= render "forms/ban_tkc" %>
    </div>
  </div>
  <div>
    <div class="">
        <div style="" class="row">
            <div class="col-md-8 col-sm-12 p-0">
                <br>
                <h1 class="page_titel" style="font-size:18px;font-weight: bold;">CHIẾT KHẤU SIÊU ƯU ĐÃI CHỈ CÓ TẠI XXXXX</h1>
                <div style=""></div>
                <br>
                <div style="">
                    <table border="1" class="table table-bordered table-striped mT20 table-bordered-green" width="100%">
                        <tbody>
                            <tr class="bg-lable2">
                                <td align="center" class="text-center textCASE fz13 fb clfff pdt10 pdb10" valign="middle">
                                    <h1 class="text-center" style="margin: 0px; text-transform: uppercase;">
                    <span style="font-size: 18px;">BẢNG GIÁ MUA BÁN THẺ CÀO VÀ GẠCH CƯỚC</span>
                  </h1>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left:0px;padding-right:0px;padding-top:0px;">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <table border="1" cellpadding="1" cellspacing="1" style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="text-align: center;">
                                                            <span style="color:#008000;">Loại thẻ</span>
                                                        </th>
                                                        <th scope="col" style="text-align: center;">
                                                            <span style="color:#008000;">Đổi thẻ cào Auto (%)</span>
                                                        </th>
                                                        <th scope="col" style="text-align: center;">
                                                            <span style="color:#008000;">Đổi thông thường (%)</span>
                                                        </th>
                                                        <th scope="col" style="text-align: center;">
                                                            <span style="color:#008000;">Nạp tiền điện thoại (%) </span>
                                                        </th>
                                                        <th scope="col" style="text-align: center;">
                                                            <span style="color:#008000;">Bắn TKC (%)</span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align:center;">Viettel</td>
                                                        <td style="text-align:center;">33</td>
                                                        <td style="text-align:center;">26</td>
                                                        <td style="text-align:center;">19</td>
                                                        <td style="text-align:center;">20</td>
                                                    </tr>

                                                    <tr>
                                                        <td style="text-align:center;">Mobifone</td>
                                                        <td style="text-align:center;">35</td>
                                                        <td style="text-align:center;">29</td>
                                                        <td style="text-align:center;">25</td>
                                                        <td style="text-align:center;">20</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:center;">Vinaphone</td>
                                                        <td style="text-align:center;">33</td>
                                                        <td style="text-align:center;">26</td>
                                                        <td style="text-align:center;">22</td>
                                                        <td style="text-align:center;">20</td>
                                                    </tr>

                                                    <tr>
                                                        <td style="text-align:center;">VTC - Vcoin</td>
                                                        <td style="text-align:center;">29</td>
                                                        <td style="text-align:center;">---</td>
                                                        <td style="text-align:center;">---</td>
                                                        <td style="text-align:center;">---</td>
                                                    </tr>

                                                    <tr>
                                                        <td style="text-align:center;">Garena</td>
                                                        <td style="text-align:center;">---</td>
                                                        <td style="text-align:center;">30</td>
                                                        <td style="text-align:center;">---</td>
                                                        <td style="text-align:center;">---</td>
                                                    </tr>

                                                    <tr>
                                                        <td style="text-align:center;">Zing </td>
                                                        <td style="text-align:center;">25</td>
                                                        <td style="text-align:center;">---</td>
                                                        <td style="text-align:center;">---</td>
                                                        <td style="text-align:center;">---</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:center;">ADSL/FTTH/K+/Next TV</td>
                                                        <td style="text-align:center;">---</td>
                                                        <td style="text-align:center;">---</td>
                                                        <td style="text-align:center;">19</td>
                                                        <td style="text-align:center;">---</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p> &nbsp;</p>
                </div>
                <br>
            </div>
            <div class="col-md-4 hidden-xs">
              <br>
              <br>
              <br>
              <%= image_tag "https://placeimg.com/640/480/any", class: "mw-100" %>
              <%= image_tag "https://placeimg.com/640/480/any", class: "mw-100" %>
            </div>
        </div>
    </div>  
  </div>
</div>