<!DOCTYPE html>
<html>
  <head>
    <title>Napzing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "shared/head" %>
  </head>

  <body>
    <%= render "shared/header" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
