<!DOCTYPE html>
<html>
  <head>
    <title> Sàn Thẻ 86. Sàn Thẻ Có Chiếc Khấu Cao Và Uy Tín Nhất</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "shared/head" %>
  </head>

  <body>
    <%= render "shared/header" %>
    <%= yield %>
    <%= render "shared/footer" %>
    <%= render "shared/thong_bao" %>
  </body>
</html>
